<body id="background-img-body">
<div class="container-sign-in">
  <div>
    <div>
      <h3 style="text-align:center; font-weight:bold"> Forgot your password? </h3>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean } ) do |f| %>
          <div>
            <%= f.error_notification %>
            <div>
              <%= f.input :email, required: true, autofocus: true %>
            </div>
          </div>
          <div>
            <div id="submit-button">
              <%= f.button :submit, "Send me reset password instructions", class: "btn-primary" %>
            </div>
            <div>
              <%= render "devise/shared/links" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
</body>
