<body id="background-img-body">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <%#= javascript_include_tag "home", "data-turbolinks-track" => true  %>
    <script type="text/javascript" src"/assets/home.js"></script>
    <div class="search-container">

    <%= form_tag(restaurants_path, :method => "get", :id => 'welcome-search-bar') do %>
      <%= button_tag( :class => "button_green") do %>
        <i id="geo-arrow" class="fa fa-location-arrow" style="font-size:20px;"></i>
      <% end %>
      <%= text_field_tag :search, params[:search]||request.safe_location.address, placeholder: "City, state, zip code..."%>
      <%= text_field_tag :term, params[:term]||"Restaurants", placeholder: "Type of Cuisine" %>
      <%= select_tag(:sort, options_for_select([['Best Match', 0],['Distance',1],['Highest Rating',2]],3){}, { :class => 'select'}) %>
      <%= submit_tag "Search", :id=> "submit_button" %>
      <% end %>
    </div>
</body>
