<% if @responses.present?%>
<div class="container">
    <% @responses.businesses.each do |place|%>
    <% @restaurant = Restaurant.find_by_yelp_id(place.id) %>
    <div id="rest_index">
        <h3><%= link_to place.name, restaurant_path(place.id) %></h3>
        <%= image_tag place.image_url%>
        <p style="display:inline-block"><br>
        Location:  <%= place.location.display_address.to_s.gsub(/[\[\]"]/, '')%> </br>
        Phone:  <%= place.phone %>
        <h5><strong><%= ((place.rating-1)*(99/4)+1).to_i%>%</strong></h5>

        <%= link_to like_restaurant_path(place.id), method: :put do %>
          Upvote
          <%= @restaurant.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_restaurant_path(place.id), method: :put do %>
          Downvote
          <%= @restaurant.get_downvotes.size%>
        <% end %>
    </div>
    <hr />
<% end %>
</div>
    <% else %>
        <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
