<% if @responses.present?%>
<div class="container">
    <% @responses.businesses.each do |place|%>
    <div label="<%=place.name%>">
        <%= image_tag place.image_url%>
        <p style="display:inline-block"> <%= place.name %> <br>
        <%= place.location.display_address.to_s.gsub(/[\[\]"]/, '')%> <br>
        <%= place.phone %>
        <%= ((place.rating-1)*(99/4)+1).to_i%></p>

        <%= link_to like_restaurant_path(place.id), method: :put do %>
        Upvote
        <%if @restaurant.present?%>
        <%= @restaurant.get_upvotes.size %>
        <% end %>
        <% end %>
        <%= link_to dislike_restaurant_path(place.id), method: :put do %>
        Downvote
        <%if @restaurant.present?%>
          <%= @restaurant.get_downvotes.size %>
        <% end %>
        <% end %>
    </div>
    <hr>
<% end %>
</div>
    <% else %>
        <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
