<!DOCTYPE html>
<html>
  <head>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyBZMoF3v_KL_FRtebw0rltJOYs4UoyzGwM"></script>
     <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h1 id='rest_name_header'> <%= @current_restaurant.name%></h1> <br>
    <table id="rest_show" class="container">
        <div id="rest_maps">
            <%latitude=@current_restaurant.latitude%>
            <%longitude=@current_restaurant.longitude%>
          <div>
            <div id="map" style='width: 300px; height: 200px;'></div>
          </div>
          <script type="text/javascript">
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {minZoom: 10}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers([
              {
                lat: <%=latitude%>,
                lng: <%=longitude%>,
                picture: {
                  url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
                  width:  36,
                  height: 36
                }
              }
            ]);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            });
          </script>
          <h4><%= @current_restaurant.address %></h4>
          <h4><%= @current_restaurant.phone %></h4>
        </div>

        <div class="rest_info_div">
            <%= image_tag(@current_restaurant.image_url, class: "rest_image") %> <br> <br>
            <h4><%= @current_restaurant.rating%>%</h4>
            <h4><%= @current_restaurant.category%></h4>
        </div>

        <div id="rest_likes">
            <%= link_to like_restaurant_path(@current_restaurant.yelp_id), method: :put do %>
            <h4>Upvote</h4>
            <%= @current_restaurant.cached_votes_up%>
            <% end %> <br><br>
            <%= link_to dislike_restaurant_path(@current_restaurant.yelp_id), method: :put do %>
            <h4>Downvote</h4>
            <%= @current_restaurant.cached_votes_down%>
            <% end %>
        </div>
    </table>

    <div id="menu-container">
      <div id="rest_menu">
          <%if @menu_id.present?%>
            <%src="https://widget.locu.com/menuwidget/locu.widget.developer.v2.0.js?venue-id="+@menu_id+"&widget-key="+ENV["LOCU_WIDGET_KEY"]+"&medium=web"%>
          <%elsif @menu.present?%>
          </br>
          <h2 style="text-align:center">Menu</h2>
          </br>
          <table>
            <%for i in 0..@menu.length-1%>
            <tr>
             <td> <%=@menu[i].text%></td>
            </tr>
            <%end%>
          </table>
          <%end%>
      </div>
    </div>
  </body>

</html>
 <script type="text/javascript" id="-locu-widget" src=<%=src%>></script>
