<div class="container">
    <div label="<%=@current_restaurant.name%>">
      <% @restaurant = Restaurant.find_by_yelp_id(@current_restaurant.yelp_id) %>
        <p style="display:inline-block"> <%= @current_restaurant.name%> <br>
          <%= link_to like_restaurant_path(@current_restaurant.yelp_id), method: :put do %>
            Upvote
            <%= @restaurant.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_restaurant_path(@current_restaurant.yelp_id), method: :put do %>
            Downvote
            <%= @restaurant.get_downvotes.size%>
          <% end %>
    </div>
    <hr>
</div>
